<div class="grid-x profile">
    <div class="cell ">
        <h3 class="custom-h3">Welcome, {{ username }}</h3>
    </div>
</div>

<div class="grid-x profile">
    <table class="unstriped">
        <thead>
            <tr>
                <th width="80%">
                    <h4 class="table-h4">Upcoming Tasks</h4>
                </th>
                <th width="20%">
                    <h4 class="table-h4">Details</h4>
                </th>
            </tr>
        </thead>
        <tbody>
           
          {{#each takenTasks as |task| }}
            <tr>
                <td>
                    <p class="custom-p">{{this.name}}</p>
                </td>
                <td><a href="/api/tasks/{{this.id}}" class="button hollow secondary expanded table-button">View</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<div class="grid-x profile">
    <div class="cell ">
        <button class="hollow button secondary" data-open="new-task" href="#">Create New Task</button>
    </div>
</div>
<div class="reveal" id="new-task" data-reveal>
    <h2>Create New Task</h2>
    <form class="create-task-form">
        <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>Title of Task</label>
                    <input class="new-task-name" type="text" placeholder="Update Task Title" />
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>Start Date and Time</label>
                    <input class="new-task-start" type="text" name="datetime" id="datetime" placeholder="Choose Date and Time" />
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>End Date and Time</label>
                    <input class="new-task-end" type="text" name="datetime" id="datetime" placeholder="Choose Date and Time" />
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>Description
                        <textarea class="new-task-desc" placeholder="Description"></textarea>
                    </label>
                </div>
            </div> 
            <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <button type="submit" class="hollow button secondary" href="#">Create Task</button>
        </div>
    </div>
    </form>
   
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<script src="./js/task.js"></script>

<div class="grid-x profile">
    <table class="unstriped">
        <thead>
            <tr>
                <th width="80%">
                    <h4 class="table-h4">List of Tasks I Need Help With</h4>
                </th>
                <th width="20%">
                    <h4 class="table-h4">Details</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each createdTasks}}
            <tr>
                <td>
                    <p class="custom-p">{{this.name}}</p>
                </td>
                <td><a href="/api/tasks/{{this.id}}" class="button hollow secondary expanded table-button">View</a></td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>
