<div class="grid-x profile">
    <div class="cell">
        <h3 class="custom-h3">All Available Tasks at {{zip_code}}</h3>
    </div>
</div>

{{!-- All Available Tasks table --}}
<div class="grid-x profile">
    <table class="unstriped">
        <thead>
            <tr>
                <th width="40%">
                    <h4 class="table-h4">Tasks</h4>
                </th>
                <th width="40%">
                    <h4 class="table-h4">When</h4>
                </th>
                <th width="20%">
                    <h4 class="table-h4">View Details</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each tasks as |task|}}
                <tr>
                    <td>
                        <p class="custom-p">{{this.name}}</p>
                    </td>
                    <td>
                        <p>{{format_time this.startTime}}</p>
                    </td>
                    <td><a data-open="task-details-{{this.id}}" href="#" class="button hollow secondary expanded table-button">View</a></td>
                </tr>

                <div class="reveal" id="task-details-{{this.id}}" data-reveal>
                    {{>taskDetails}}
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/each}}
        </tbody>
    </table>
</div> 
