{{!-- Commented out for modal testing--}}
{{#each tasks as |task|}}

{{!--TASK TAKER MODULE --}}

<div class="reveal" id="task-details" data-reveal>
    <h4>{{task.name}}
        {{#if_eq task.status == true}}
        {{{get_emoji}}} {{!--Generate Emoji if Claimed --}}
        {{/if_eq}}
    </h4>
    <h5>Created by: {{ task.taskCreator}}</h5>
    <p>{{ format_time task.startTime}} to {{ format_time task.endTime}}</p>
    <p>{{task.description}}</p>


    {{#if_eq task.status == false}}
    <div class="cell">
        <button class="hollow button success" data-open="task-details" href="#">Volunteer for this task!
        </button>
    </div>
    {{/if_eq}}

    {{#if_eq user == taskTaker}}
    {{#if_eq task.status == true}}
    <div class="cell">
        <button class="hollow button secondary" data-open="" href="#">Cancel
        </button>
    </div>
    {{/if_eq}}
    {{/if_eq}}

    {{#if_eq user == taskCreator}}
    <div class="cell">
        <button class="delete-task submit hollow button secondary" href="#">Delete Task
        </button>
        <button class="submit hollow button secondary" data-open="update-task" href="#">Update Task
        </button>
    </div>

    {{/if_eq}}

    <div class="cell">
        <p>Add to calendar - optional</p>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


Chat box
<div class="grid-x profile">
    <div class=" cell container">
        <form>
            <div class="form-group">
                <textarea class="form-control status-box" rows="3" placeholder="Enter your comment here..."></textarea>
            </div>
        </form>
        <div class="button-group pull-right" style="cursor: pointer;">
            <a class="btn btn-primary button secondary hollow">Post</a>
        </div>
        <ul class="posts">
        </ul>
    </div>
</div>

{{!Upate Task Modal}}
<div class="reveal" id="update-task" data-reveal>
    <h2>Update Task</h2>
    <form>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label>Title of Task</label>
                <input type="text" placeholder="Task" id="task-name" name="task-name" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label>Start Date & Time</label>
                <input type="text" name="datetime start-time" id="datetime start-time" placeholder="Update Date and Time" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label>End Date & Time</label>
                <input type="text" name="datetime end-time" id="datetime end-time" placeholder="Update Date and Time" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label>Description
                    <textarea placeholder="Post Content" id="task-description" name="task-description"></textarea>
                </label>
            </div>
        </div>
    </form>
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <button class="update-task hollow button secondary" href="#">Update</button>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


{{/if_eq}}
{{/each}}

